# Database
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_db

# APIs
GITHUB_TOKEN=12345 # Get the classic not th fine grained

# Vertex AI (GCP)
GCP_PROJECT_ID=your-gcp-proect-id
GEMINI_MODEL=gemini-2.5-flash
# Path to your service account JSON file on HOST machine
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credential.json # download from GCP dashboard

# Reddit
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
AUTH_TOKEN_SECRET=
AUTH_TOKEN_TTL_SECONDS=86400
